{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static "core/styles.css" %}">
  {% block scripts %}{% endblock %}
  <title>Dogmash</title>
</head>

<body>
<div id="header">
  <h1 id="header-title">Dogmash</h1>
  <nav>
    <a class="nav-link" href="{% url "core:home" %}">Home</a>
    <a class="nav-link" href="">Rankings</a>
    <a class="nav-link" href="{% url "core:upload" %}">Upload</a>
  </nav>
</div>

<div id="content">
  {% block content %}{% endblock %}
</div>

</body>
</html>
