body {
  margin: 0;
}

#header {
  background: #8c1c08;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-title {
  color: white;
  font-size: 4rem;
  line-height: 50%;
}

.nav-link {
  color: white;
}

#page-header {
  margin-bottom: 2rem;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upload-preview {
  max-width: 300px;
}

#dogs-container {
  display: flex;
}

.dog-image {
  max-width: 300px;
  display: block;
}

.dog {
  text-align: center;
}

#dog-separator {
  display: flex;
  align-items: center;
  margin: 0 1rem 0;
}
