body {
  margin: 0;
}

#header {
  background: #8c1c08;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-title {
  color: white;
  font-size: 4rem;
  line-height: 50%;
}

.nav-link {
  color: white;
}

